@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/PTSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/PTSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-Black.woff2') format('woff2');
}
