/* fonts */
$sans: 'PTSans', sans-serif;
$mon: 'Montserrat', sans-serif;
$bodyFz: 16px;

/* colors */
$siteBg: #fff;
$titles: #000;

$activeTags: #b02851;
$hoverButtons: #b02851;
$borderButtons: #b02851;
$underTite: #b02851;
$rangs: #b02851;

$cardsBg: #fff;
