@import './fonts';
@import './darkmode';

/* vars */
$sans: 'PTSans', sans-serif;

/* Default */
* {
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: $sans;
  color: #2c3e50;
  transition: 0.3s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pages animation */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.12s;
}

.page-enter,
.page-leave-to {
  opacity: 0.2;
}

/* Snippets */

.section-title {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.pretitle {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 60px;
  color: rgba(0, 0, 0, 0.2);
  @media (max-width: 767px) {
    text-align: center;
  }
}

section {
  padding: 60px 0;
}

/* Container */
.container {
  padding: 0 12px;
  margin: 0 auto;
  position: relative;

  @media (min-width: 1200px) {
    width: 1164px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    width: 984px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 744px;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    width: 564px;
  }

  @media (max-width: 575px) {
    width: 100%;
  }
}
