@import './fonts';

/* vars */
$bodyFz: 16px;
$siteBg: #fff;
$sans: 'PTSans', sans-serif;

* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: $bodyFz;
  margin: 0;
  padding: 0;
  background: $siteBg;
  font-family: $sans;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 28px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1170px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.1s 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.full {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 990px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 570px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
